* {
    box-sizing: border-box;
}

a {
    color: #4286f4;
    text-decoration: underline;
}

input[type=text] {
    border-radius: 3px;
    padding: 3px;
    border: solid 1px #000;
    font-size: 16px;
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;
    height: 100%;
    display: block;
    clear: both;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.product-display {
  margin: 20px 0;
}

table.listing {
  width: 100%;
}

.listing td {
  position: relative;
  width: 150px;
}

.listing td:nth-child(2) a, .listing td:nth-child(3) a {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

label, input[type=text] {
  display: block;
}

input[type=text] {
  width: 100%;
}

.form-group {
  padding: 0 10px;
  margin: 5px 0;
}

.help-block {
  margin: 20px 0;
}

.right {
  float:right;
  text-align: right;
}

.login label.right {
  padding-right: 15px;
}

body, html {
  font-family: 'Arial';
  color: #000;
}

p, label, input, .btn, span, strong, div, td, th, h1, h2 {
  color: #000;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

/* Home page */
.main-nav-container {
  background-color: #fbb611;
  height: 35px;
  margin: -20px 0 0 0;
  padding: 0;
  font-size: 12px;
}
.nav {
  list-style: none;
  text-align: center;
  padding: 10px 0 0 0;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.nav > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

/* Featured Products*/
section h3 {
  text-align: center;
  margin: 20px 0 0 0;
}

.featured-products-area {
  border: 1px solid #cccccc;
  position: relative;
  top: -2px;
 /* -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black; */
 }

 .special-feature {
  width: 300px;
  height: 225px;

 }

 .sexy-box {
  height: 250px;
  width: 360px;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 18px;
  border:1px solid #cccccc;
  padding:10px;
}

  p {
  margin-top: 5px;
  margin-bottom: 5px;
  }

  .cart-table {
    width: 100%;
  }

  .cart-table td {
    text-align: center;
    vertical-align: middle;
  }

  .product-display td form {
    transform: translateY(-50%);
  }
