* {
    box-sizing: border-box;
    color: #fff;
}

header {
    height: 90px;
    width: 100%;
    background: #063760;
    margin-bottom: 20px;
}

header .container {
      padding: 15px 0;
}

header ul {
  margin: 22px 0;
}

header ul li {
  float: left;
  margin-left: 20px;
}

header ul li a {
  color: #fff;
}

.search-form {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.search-form input[type=submit] {
  background: #fbb611;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 2px 15px;
  position: absolute;
  right: 3px;
  top: 2px;
}

footer {
    height: 170px;
    width: 100%;
    background: #063760;
    padding: 45px;
    margin-top: 20px;
}

footer ul {
    margin: auto;
}

footer ul li {
    float: left;
    margin: 20px;
}

footer ul li:not(:last-child) {
    margin: 20px 0 20px 20px;
    border-right: solid 3px #fff;
    padding-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.footer-list-wrapper {
    display: table;
    margin: 0 auto;
}

input[type=text] {
    border-radius: 3px;
    padding: 3px;
    border: solid 1px #000;
    font-size: 16px;
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;
    height: 100%;
    display: block;
    clear: both;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.product-display {
  margin: 20px 0;
}

table.listing {
  width: 100%;
}

.listing td {
  position: relative;
  width: 150px;
}

.listing td:nth-child(2) a, .listing td:nth-child(3) a {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

label, input[type=text] {
  display: block;
}

input[type=text] {
  width: 100%;
}

.form-group {
  padding: 0 10px;
  margin: 5px 0;
}

p, label, input, .btn, a, span, strong, div {
  color: #000;
}

.help-block {
  margin: 20px 0;
}

.right {
  float:right;
  text-align: right;
}

.login label.right {
  padding-right: 15px;
}

body, html {
  font-family: 'Arial';
  color: #000;
}
